<!DOCTYPE html>
<html>

  <head>
    <title>J component</title>
    <link rel="stylesheet" href="/static/styles.css?v=<?php echo time(); ?>">
  </head>

  <body style="margin: 50px">

<div class = "centering" style = "background-color: whitesmoke">
    <h1>Model-based Web Engineering</h1>
</div>


<br>
<br>

    <body style="margin: 50px"><div style = "display: flex;  justify-content: center; ">
        <div class = "centering" style = "background-color: lightcyan; width: 500px; border: 1px black; flex-direction: column; padding: 20px;">
    
                <b>Generate HTML for the Image</b>    
    
        </div>
    </div>
    <br> <br>
        <center><img style="width: 1000px" src="/static/vit.png"></center>
        <br>
        <center><button> <a href="/my-link/">Generate</a></button></center>

    </body>

</html>

